.hp-sort {
  p {
    font-weight: bold;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 100px;
    border: 0.5px #cccccc solid;
  }
}
