.hp-categorys {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  overflow-x: hidden;
  margin: 10px 0;

  .hp-category {
    margin: 10px;
    margin-bottom: 0;
    cursor: pointer;
    .hp-category-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    p {
      width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-top: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center;
    }
  }
  .hp-category:hover,
  .hp-category:visited,
  .hp-category:active {
    img {
      border: 2px solid #4eacf8;
    }
  }
}

.hp-categorys::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
