.nav-main {
  max-width: 468px;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  z-index: 1;
  background-color: white;
  border-top: 1px solid #eeeeee;
  padding: 10px 0;

  .nav-item {
    text-align: center;
    .nav-item-body {
      svg {
        font-size: 1.5rem;
      }
      p {
        font-size: 0.6rem;
      }
    }
  }
}
