.cart {
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 70px;

  .block {
    width: 100%;
    height: 20px;
    background-color: #eeeeee;
  }

  .cart-header {
    h4 {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
    }
    .header-building {
      font-weight: bold;
      margin: 5px 0 0 20px;
    }
    .header-address {
      margin: 5px 0 0 20px;
      font-size: 13px;
      color: #cccccc;
    }
  }
  .cart-main {
    p {
      margin-bottom: 5px;
    }

    .main-name {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .main-body {
      display: flex;

      .main-count {
        margin-right: 5px;
      }

      .main-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-cancel {
          display: flex;
        }
      }
    }

    .main-addMenu {
      color: #4eacf8;
      text-align: center;
      cursor: pointer;
    }
  }
  .cart-coupon {
    .coupon-title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .coupon-card {
      font-size: 0.7rem;
      border: 1px solid #cccccc;
      border-radius: 10px;
      background-color: #f4f6f8;
      .card-title {
        margin: 10px 20px 10px;
        span {
          color: #4eacf8;
        }
      }

      .coupon-inner {
        margin: 0 20px 10px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;

        div {
          background-color: white;
          width: 70%;
          margin-right: 20px;
          border-radius: 3px;

          p {
            margin: 10px;
            color: #939daa;
          }
        }

        button {
          width: 25%;
          background-color: white;
          border: 1px solid rgb(113, 203, 255);
          border-radius: 3px;
          color: rgb(113, 203, 255);
          font-weight: bold;
        }
      }
    }
  }
  .cart-list {
    div {
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
    }

    .list-amount {
      .list-text {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .list-total {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }

  .cart-request {
    .request-header {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 10px 0;
    }
    p {
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input {
      border: 1px solid #909fab;
      padding: 8px;
      width: 100%;
      height: auto;
      font-size: 0.9rem;
    }

    .request-semi {
      display: flex;
      justify-self: center;
      align-items: center;
      input {
        margin: 10px 0;
        margin-right: 10px;
        width: 25px;
        height: 25px;
      }

      label {
        font-size: 0.8rem;
      }
    }
  }

  .pay-select {
    margin: 10px 0;

    .pay-header {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .cart-payment {
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #4eacf8;
    color: white;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-block {
    width: 100%;
    height: 5px;
    background-color: #eeeeee;
    margin: 10px 0;
  }

  .cart-thick-block {
    width: 100%;
    height: 20px;
    background-color: #eeeeee;
    margin: 10px 0;
  }
}
