.cart {
  background-color: white;
  box-sizing: border-box;

  .block {
    width: 100%;
    height: 20px;
    background-color: #eeeeee;
  }

  .cart-header {
    h4 {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
    }
    .header-building {
      font-weight: bold;
      margin: 5px 0 0 20px;
    }
    .header-address {
      margin: 5px 0 0 20px;
      font-size: 13px;
      color: #cccccc;
    }
  }
  .cart-main {
    p {
      margin-bottom: 5px;
    }

    .main-name {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .main-cancel {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .main-addMenu {
      color: #4eacf8;
      text-align: center;
      cursor: pointer;
    }
  }
  .cart-coupon {
    .coupon-title {
      font-size: 1.3rem;
      font-weight: bold;
    }
    .coupon-card {
      font-size: 0.7rem;
      border: 1px solid #cccccc;
      border-radius: 10px;
      background-color: #f4f6f8;
      .card-title {
        margin: 10px 20px 10px;
        span {
          color: #4eacf8;
        }
      }

      .coupon-inner {
        margin: 0 20px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        div {
          background-color: white;
          width: 500px;
          margin-right: 20px;
          border-radius: 10px;

          p {
            margin: 0;
          }
        }

        button {
          width: 120px;
          background-color: white;
          border: 1px solid rgb(113, 203, 255);
          border-radius: 10px;
          color: rgb(113, 203, 255);
          font-weight: bold;
        }
      }
    }
  }
  .cart-list {
    div {
      display: flex;
      justify-content: space-between;

      .list-amount {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
  .cart-request {
    padding-bottom: 90px;
    .request-header {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 10px 0;
    }

    textarea {
      width: 100%;
    }

    .pay-select {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .cart-payment {
    width: 100%;
    height: 105px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    button {
      background-color: rgb(113, 203, 255);
      width: 100%;
      height: 50px;
      color: white;

      cursor: pointer;
      p {
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
  }
}
