.categoryPage {
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 58px;

  .categroy-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
  }

  .category-line {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
    margin-bottom: 10px;
  }
}
