.homepage {
  margin: 0 auto;
  max-width: 512px;

  .homepage-header {
    margin: 20px;
    .header-address {
      position: relative;

      p {
        color: #2e3844;
        font-weight: bold;
      }
      .header-search {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .homepage-hr {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
  }

  .homepage-block {
    width: 100%;
    height: 10px;
    background-color: #eeeeee;
  }

  .homepage-sort {
    padding: 10px 0;
  }
}
