.orderList {
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 70px;
  .orderList-img {
    width: 100%;
    padding-bottom: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../images/coffee-983955_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .orderList-header {
    .food-name {
      font-weight: bold;
      font-size: 1.3rem;
      padding-top: 20px;
    }
    .food-detail {
      color: #939daa;
      font-size: 0.8rem;
    }
    .food-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      .price-text {
        font-weight: bold;
      }
    }
    .food-count {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      .count-text {
        font-weight: bold;
      }
      .count-btn {
        width: 100px;
        display: flex;
        justify-content: space-around;

        div {
          font-size: 1.1rem;
          font-weight: bold;
        }

        button {
          width: 30px;
          height: 30px;
          background-color: white;
          border-radius: 100%;
          border: 0.5px solid #939daa;
        }
      }
    }
  }

  .add-text {
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;

    p {
      font-weight: bold;
      margin-bottom: 0;
      padding: 15px;
    }

    .add-require {
      color: #da6629;
      font-size: 0.8rem;
    }
  }
  .orderList-add {
    .add-list {
      padding: 10px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: 18px;
        height: 18px;
        margin-top: 8px;
        margin-right: 10px;
      }

      label {
        margin-bottom: 0;
      }
    }
  }

  .orderList-cart {
    margin: 0 auto;
    width: 468px;
    height: 60px;
    background-color: #4eacf8;
    color: white;

    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    p {
      margin-top: 10px;
    }
  }

  .orderlist-modal {
    border: 1px solid #eeeeee;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 10px;
    right: 10px;
    margin: 0 40px;

    .modal-content {
      padding: 10px;
      p {
        text-align: center;
      }

      .content-text1 {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    .modal-btn {
      display: flex;
      justify-content: space-between;
      button {
        color: #4eacf8;
        padding: 10px;
        background-color: white;
        width: 49%;
        border-right: 1px solid #eeeeee;
      }
    }
  }
}
