.searchPage {
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 60px;

  .sp-header {
    input {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 15px;
      padding: 20px;
      background-color: #f3f3f3;
      border-radius: 30px;
      width: 85%;
      height: 45px;
      color: #9e9e9e;
      font-weight: bold;
    }
    svg {
      font-size: 1.5rem;
    }
  }

  .sp-categories {
    display: flex;
    flex-wrap: wrap;

    .category-card {
      margin-right: 10px;
      width: 45%;
      height: 100%;

      .category-img {
        width: 100%;
        height: 150px;
        background-color: #cccccc;
      }
      p {
        text-align: center;
      }
    }
  }
}
